{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container min-vh-100">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="logo-font mb-4">Reviews</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
  </div>

  {% for review in reviews %}
  <div class="card bg-light mb-2">
    <div class="card-body text-center">
      <div class="font-weight-bold mb-2">"{{ review.review_text }}"</div>
      <div class="font-weight-bold mb-2"><i class="fa-solid fa-star mr-2 text-warning"></i>{{ review.review_rating }}/5</div>
      <div><i class="fa-solid fa-user mr-4"></i> {{ review.review_author }}</div>
      <div><i class="fa-regular fa-calendar mr-4"></i>{{ review.review_date }}</div>
      <hr>
      {% if request.user == review.review_author or request.user.is_superuser %}
                        <small>
                            <!-- <a href="">Edit</a> |  -->
                            <a class="text-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                        </small>
                    {% endif %}
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
