{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid d-flex align-items-center">
    <div class="container hero-text text-center">
        <h2 class="display-6">DJ, Photobooth and wedding party hire across South Wales</h2>
        <a class="btn btn-neon-blue" href="{% url 'products' %}" role="button">Search & Book</a>
    </div>
</div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <h1 class="display-6 text-center">
                    Client Reviews
                </h1>
            </div>
        </div>
    </div>
{% endblock %}