{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid d-flex align-items-center">
    <div class="container hero-text text-center">
        <h2 class="display-6">DJ, Photobooth and wedding party hire across South Wales</h2>
        <a class="btn btn-neon-blue" href="{% url 'products' %}" role="button">Search & Book</a>
    </div>
</div>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <h1 class="display-6 text-center">
                    Client Reviews
                </h1>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for review in random_reviews %}
                <div class="carousel-item active">
                    {{ review.review_text }}
                    {{ review.review_rating }}
                    {{ review.review_date }}                    
                </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
    </div>

    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
		$('.carousel').carousel({
        interval: 2000
        })
    </script>
{% endblock %}