/* Color Pallet to be used with site */
/* 
--neon-blue: #5863f8;
--eerie-black: #232323;
--dark-pastel-green: #0cca4a;
--azure-web: #f2fdff;
--engineering-orange: #b80c09; 
*/


html {
    height: 100%;
    font-family: 'Montserrat', sans-serif; 
}

body {
    background-size: cover;
    color: #555;
    font-family: 'Montserrat', sans-serif; 
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

a {
    color: #5863f8;
}

a:hover {
    cursor: pointer;
}

/* -------------------------------- Header */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar-brand{
    width: 300%;
    min-width: 100px;
    max-width: 150px;
}

.main-logo-link {
    width: 30%;
}

.nav-2 {
    background: #5863f8;
    padding-top: 2px;
}

.nav-2 a {
    color: #f2fdff;
    margin-left: 15px;
    margin-right: 15px;
}

.header-container {
    height: 150px;
}


/* -------------------------------- Buttons */

.btn-neon-blue {
    background: #5863f8;
    color: white;
}

.border-neon-blue {
    border: 2px solid #5863f8 !important;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* -------------------------------- Colors */

.text-black {
    color: #000 !important;
}

.text-neon-blue {
    color: #5863f8 !important;
}

.text-white {
    color: #ffffff !important;
}

.border-black {
    border: 1px solid black !important;
}


.bg-dark {
    background-color: #232323!important;
}


/* -------------------------------- Homepage */

.jumbotron {
    background: url('/media/love-dance.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #f2fdff;
    padding-top: 200px;
}

.hero-text {
    width: 600px;
    max-width: 90%;
}


/* -------------------------------- Products Page */

.product-card {
    max-width: 900px;
}

.product-img {
    max-width: 400px;
}

/* ------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 85px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 4px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5863f8;
    border: 1px solid #5863f8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #1e28bb;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #5863f8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


@media (max-width: 450px) {
    .nav-link {
      font-size: 12px;
      padding: 4px;
    }
    .navbar-brand {
        width: 100px;
    }
    .header-container {
        height: 100px;
    }
  }
