/* CSS HEX */
/* 
--neon-blue: #5863f8;
--eerie-black: #232323;
--dark-pastel-green: #0cca4a;
--azure-web: #f2fdff;
--engineering-orange: #b80c09; 
*/


html {
    height: 100%;
    font-family: 'Montserrat', sans-serif; 
}

body {
    background-size: cover;
    color: #555;
    font-family: 'Montserrat', sans-serif; 
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

/* -------------------------------- Header */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar-brand{
    width: 300%;
    min-width: 100px;
    max-width: 150px;
}

.main-logo-link {
    width: 30%;
}

.nav-2 {
    background: #5863f8;
    padding-top: 2px;
}

.nav-2 a {
    color: #f2fdff;
    margin-left: 15px;
    margin-right: 15px;
}

.header-container {
    height: 150px;
}


/* -------------------------------- Buttons */


.btn-neon-blue {
    background: #5863f8;
    color: white;
}

border-neon-blue {
    border: 2px solid #5863f8 !important;
}

/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
} */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-success {
    /* background: #0cca4a !important; */
}

/* -------------------------------- Colors */

.text-black {
    color: #000 !important;
}

.text-neon-blue {
    color: #5863f8 !important;
}

.text-white {
    color: #ffffff !important;
}

.border-black {
    border: 1px solid black !important;
}


.bg-dark {
    background-color: #232323!important;
}


/* -------------------------------- Homepage */

.jumbotron {
    background: url('/media/love-dance.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #f2fdff;
    padding-top: 200px;
}

.hero-text {
    width: 600px;
    max-width: 90%;
}


/* -------------------------------- Products Page */

.product-card {
    max-width: 900px;
}

.product-img {
    max-width: 400px;
}

/* ------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 450px) {
    .nav-link {
      font-size: 12;
      padding: 4px;
    }
    .navbar-brand {
        width: 100px;
    }
  }
