{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100  mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">About Us</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="mt-5">
                Welcome to <strong>Joio Entertainment</strong>
            </h3>
            <div class="mt-4">
                <p>South Wales' premier entertainment company for DJ, photobooth and wedding party hire.</p>
                <p>Founded by the exceptionally talented entrepreneur Jonathan Hughes, Joio Entertainment has quickly
                    become the go-to source for unforgettable entertainment experiences.</p>
                <p>Jonathan Hughes, originally from Llanelli, is an industry veteran with years of experience in event
                    planning, music production and performance. His passion for music and bringing people together
                    inspired him to create Joio Entertainment, a company that offers top-notch entertainment services
                    for any occasion.</p>
                <p>At Joio Entertainment, we pride ourselves on our exceptional service and attention to detail. Whether
                    you're looking to hire a DJ for your wedding reception, a photobooth for a corporate event or a
                    full-scale production for a music festival, we have the expertise and resources to make your event a
                    success.</p>
                <p>Our team of experienced professionals is dedicated to providing you with the highest quality
                    entertainment services. We use only the best equipment and technology to ensure that your event runs
                    smoothly and your guests have the time of their lives.</p>
                <p>We understand that every event is unique, which is why we work closely with our clients to create
                    customized entertainment packages tailored to their specific needs and preferences. We're committed
                    to making your event unforgettable and exceeding your expectations every step of the way.</p>
                <p>At Joio Entertainment, we're passionate about what we do, and we're dedicated to making your event
                    the best it can be. Contact us today to learn more about our services and how we can help you create
                    an unforgettable entertainment experience.</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <a href="#" target="_blank">
                <img class="img-fluid mt-5" src="{{ MEDIA_URL }}jonny.jpeg" alt="jonny hughes">
            </a>
        </div>
    </div>
</div>
{% endblock %}