{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-md-3">
            <h2>Products and Services</h2>
            <hr class="w-50 mb-3">
        </div>
    </div>
    <!-- Search bar -->
    <div class="d-flex justify-content-center mb-3">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search products & services">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--Filter caregories-->
    <div class="dropdown d-flex justify-content-center mb-3">
        <button class="btn btn-neon-blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'products' %}">All Services</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=music_dance">Music</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=photography">Photography</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=decorations">Decorations</a>
        </div>
      </div>
    <!--Products-->
    <div class="product-container col-10 offset-1 col-lg-8 offset-lg-2">
        <div class="row">
            {% for product in products %}
            <!--Individual Product card-->
            <div class="card card-full-width mb-3 product-card align-items-center">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-6 col-lg-7">
                        <!--Product Image-->
                        {% if product.image %}
                        <div>
                            <img class="card-img-top img-fluid product-img" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </div>
                        {% else %}
                        <div>
                            <img class="card-img-top img-fluid product-img" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="card-body p-lg-5">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </div>
                            </div>
                            <hr class="mt-0">
                            <div class="row">
                                <div class="col-11">
                                    <p class="card-text">
                                        {{ product.description }}
                                    </p>
                                </div>
                            </div>
                            <hr class="mt-0">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h5 class="card-text">£{{ product.price }}</h5>
                                </div>
                                <div class="col-12 col-md-6 text-right">
                                    <a href="#" class="btn btn-neon-blue" role="button">Add to booking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}