{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-md-3">
            <h2>Products and Services</h2>
            <hr class="w-50 mb-3">
        </div>
    </div>
    <!-- Search bar -->
    <div class="d-flex justify-content-center mb-3">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search products & services">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--Filter caregories-->
    <div class="dropdown d-flex justify-content-center mb-3">
        <button class="btn btn-neon-blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'products' %}">All Services</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=music_dance">Music</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=photography">Photography</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=decorations">Decorations</a>
        </div>
      </div>
    <!--Products-->
    <div class="product-container col-10 offset-1 col-lg-8 offset-lg-2">
        <div class="row">
            {% for product in products %}
            <!--Individual Product card-->
            <div class="card card-full-width mb-3 product-card align-items-center">
                <div class="row no-gutters align-items-center">
                    <!--Product Image-->
                    <div class="col-md-6">
                        {% if product.image %}
                        <div href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid product-img" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </div>
                        {% else %}
                        <div href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid product-img" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </div>
                        {% endif %}
                    </div>
                    <!--Product Details-->
                    <div class="col-md-6">
                        <div class="card-body p-lg-5">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                </div>
                            </div>
                            <hr class="mt-0">
                            <div class="row">
                                <div class="col-11">
                                    <p class="card-text">
                                        {{ product.description }}
                                    </p>
                                </div>
                            </div>
                            <hr class="mt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-text">£{{ product.price }}</h5>
                                    <a href="{% url 'product_detail' product.id %}" class="btn text-left p-0 font-weight-bold text-neon-blue" role="button">More info..</a>
                                </div>
                                <div class="col-5 text-right">
                                    <form method="POST" action="{% url 'add_to_bag' item_id=product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <button class="btn btn-success" type="submit">Add to booking</button>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-neon-blue">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-neon-blue mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}
